.heading-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.meals {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.meal {
	font-size: 2rem;
}

.arrow-icon {
	height: 10px;
	width: 10px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.food-container {
	display: flex;
}

.overlay {
	background-color: rgba(0, 0, 255, 0.571);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
}
