.profile-page {
	margin-top: 4rem;
	/* padding: 0 1rem 2rem; */
	padding-bottom: 2rem;
}

.profile-page h2 {
	text-align: center;
}

.profile-page h3 {
	color: #1d5755;
}

.date {
	font-size: 1.6rem;
	margin-bottom: 2rem;
	color: #39aea9;
}

.calories {
	font-size: 2rem;
	color: #1d5755;
}

.calendar-icon {
	height: 3.5rem;
}

.profile-page h3 {
	font-size: 1.5rem;
}

.profile-page button {
	background-color: transparent;
	border: none;
}

.heading-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.meals {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.meal {
	font-size: 2rem;
}

.arrow-icon {
	height: 1rem;
	width: 1rem;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.food-container {
	display: flex;
}

.calender-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.meal-btn-container {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	width: 90vw;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.212) 0px 7px 29px 0px;
	border-radius: 8px;
	margin-bottom: 1.2rem;
}

.meal-btn-container button {
	background-color: transparent;
	border: none;
}

.add-icon {
	height: 3rem;
}

.custom-btn {
	padding-left: 2rem;
	color: #226865;
}

.meal-container {
	display: flex;
	align-items: center;
	gap: 1.3rem;
}

.food-img {
	width: 5rem;
}

.loading-icon {
	width: 8rem;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, 0);
}

.foods {
	max-height: 10rem;
	overflow: scroll;
	margin-top: 1rem;
}

.food-container {
	/* padding: 0.5rem; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	width: 90vw;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid lightgray;
}

.delete-btn {
	color: red;
	text-align: right;
}

@media screen and (min-width: 760px) {
	.date {
		font-size: 3rem;
	}

	.calories {
		font-size: 4rem;
	}

	.calendar-icon {
		height: 7rem;
	}

	.meal-btn-container {
		padding: 4rem;
	}

	.profile-page h3 {
		font-size: 2.8rem;
	}

	.food-img {
		width: 10rem;
	}

	.add-icon {
		height: 5rem;
	}

	.custom-btn {
		font-size: 3rem;
	}

	.food-container {
		padding: 2rem;
	}

	.food-container p,
	.delete-btn {
		font-size: 3rem;
	}

	.loading-icon {
		width: 15rem;
	}
}

@media screen and (min-width: 1024px) {
	.profile-page {
		max-height: 100vh;
	}

	.profile-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100vw;
		gap: 2rem;
		padding: 0 3rem;

		/* align-items: flex-start; */
	}

	.date {
		font-size: 2rem;
	}

	.calories {
		font-size: 3rem;
	}

	.meals {
		/* justify-content: flex-start; */
		width: 80%;
		align-items: center;
		position: relative;
		left: 50%;
		transform: translate(-50%);
	}

	.meal-btn-container {
		width: 100%;
		padding: 1.5rem;
	}

	.profile-meal-container {
		width: 100%;
	}

	.food-container {
		width: 100%;
	}

	.profile-page h3 {
		font-size: 1.8rem;
	}

	.food-img {
		width: 7rem;
	}

	.add-icon {
		height: 3rem;
	}

	.custom-btn {
		font-size: 1.7rem;
	}

	.foods {
		height: 3.5rem;
		overflow-x: hidden;
	}

	.food-container {
		padding: 1rem;
	}

	.food-container p,
	.delete-btn {
		font-size: 1.8rem;
	}

	.loading-icon {
		width: 10rem;
	}
}
