img {
	width: 100%;
}

p {
	font-size: 1.5rem;
}

header,
section {
	text-align: center;
	padding: 0 1.2rem;
	/* margin-bottom: 2rem; */
}

section p {
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 2.5rem;
}

header,
section {
	padding-bottom: 2rem;
}

.heading {
	font-size: 2rem;
	padding: 0 2rem;
	line-height: 1.2;
}

p {
	font-size: 1.5rem;
	line-height: 1.6;
}

.link {
	font-size: 2rem;
	font-weight: bold;
	color: #363e35;
	background-color: #9cd7d4;
	padding: 1rem 2rem;
	border-radius: 5px;
}
