img {
	width: 100%;
}

p {
	font-size: 1.5rem;
	color: #542e7d;
}

header,
section {
	text-align: center;
	padding: 0 1.2rem;
	/* margin-bottom: 2rem; */
}

section p {
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 2.5rem;
}

header,
section {
	padding-bottom: 2rem;
}

.home-page a {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.heading {
	font-size: 2rem;
	padding: 0 2rem;
	line-height: 1.2;
}

p {
	font-size: 1.6rem;
	line-height: 1.6;
}

.link {
	font-size: 2rem;
	font-weight: bold;
	color: #003539;
	background-color: #74c1bc;
	padding: 1rem 2rem;
	border-radius: 5px;
}

@media screen and (min-width: 760px) {
	.home-page img {
		width: 50rem;
	}

	header h1 {
		font-size: 4.5rem;
	}

	header p,
	section p {
		font-size: 2.5rem;
	}

	section h2 {
		font-size: 3rem !important;
	}

	.heading {
		font-size: 3.5rem;
	}

	p {
		padding: 0 2rem;
	}

	.link {
		font-size: 3rem;
		padding: 1rem 3rem;
	}
}

/* styles for desktop */

@media screen and (min-width: 1100px) {
	.home-page img {
		width: 50%;
	}

	header,
	section {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header img,
	section img {
		width: 50vw;
	}

	header h1 {
		font-size: 4rem;
	}

	section h2 {
		font-size: 3rem !important;
	}

	header p,
	section p {
		font-size: 2rem;
		padding: 0 4rem;
	}

	.link {
		font-size: 3rem;
	}

	.direction-helper {
		flex-direction: row-reverse;
	}
}
