.container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.2rem;
}

.settings-page h2 {
	font-size: 2rem;
	margin-bottom: 1.3rem;
	color: #003539;
}

.settings-page {
	padding: 1rem;
}

.settings-page label {
	font-size: 1.7rem;
	margin-bottom: 0.5rem;
	color: #287a76;
	font-weight: bold;
}

.settings-page input {
	padding: 0.5rem;
}

.gender {
	font-weight: normal !important;
}

.account-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.settings-page .edit-btn {
	align-self: flex-end;
}

.settings-page select {
	padding: 0.2rem;
	font-size: 1.5rem;
	text-transform: capitalize;
}

.edit-dimensions {
	margin-top: 1rem;
}

.dimensions-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.input {
	width: 5rem;
}

.radio-btn {
	margin-right: 1rem;
}

.edit-btn {
	font-size: 1.5rem;
	background-color: #ffb2a4;
	border: none;
	padding: 0.5rem;
	border-radius: 3px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.overlay {
	background-color: #162d2d67;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
	backdrop-filter: blur(6px);
}

.radio-btn {
	position: relative;
}

.profile-err {
	text-align: center;
	margin-top: 10rem;
	padding: 0 1rem;
	font-size: 2rem;
}

.profile-err p {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.profile-err a {
	font-weight: bold;
	border-bottom: 2px solid #ff7e67;
}

@media screen and (min-width: 760px) {
	.settings-page {
		padding: 1rem 2rem 3rem;
	}

	.settings-page h2 {
		font-size: 3.5rem;
	}

	.settings-page label {
		font-size: 3rem;
	}

	.settings-page input {
		font-size: 3rem;
	}

	.input-helper {
		padding: 1.5rem 8rem 1.5rem 1rem !important;
	}

	.edit-btn {
		font-size: 3rem;
		border-radius: 5px;
		padding: 1rem;
		width: 25%;
	}

	.dimensions .input {
		padding: 2rem 1rem 1rem 0.5rem;
		width: 9rem;
	}

	select {
		font-size: 3rem !important;
		padding: 1rem !important;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		justify-content: flex-start;
		gap: 2rem;
	}

	.settings-page h2 {
		font-size: 2.5rem;
	}

	.settings-page label {
		font-size: 2rem;
	}

	.settings-page input {
		font-size: 2rem;
	}

	.input-helper {
		padding: 1rem 8rem 1rem 1rem !important;
	}

	.dimensions-container {
		display: flex;
		gap: 15rem;
	}

	.edit-btn {
		font-size: 2rem;
		width: 10%;
	}

	.dimensions .input {
		padding: 0.5rem;
		width: 6rem;
	}

	input[type="radio"] {
		transform: scale(1);
	}

	select {
		font-size: 2rem !important;
	}
}
