.form-page {
	padding-bottom: 1.5rem;
}

.form-page label {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #004044;
}

/* .form {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
} */

.form-page input {
	padding: 1rem;
	border-radius: 3px;
	border: 1px solid #004044;
	width: 60vw;
}

.form-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	width: 24rem;
}

.input-icon {
	width: 2rem;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}

.submit-btn {
	margin-top: 1rem;
	font-size: 2.5rem;
	font-weight: 600;
	background-color: transparent;
	border: none;
	background-color: #ffa595;
	border-radius: 4px;
	padding: 0.8rem;
	color: #004044;
	width: 60vw;
	margin-bottom: 1.5rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.input-container {
	position: relative;
}

.password-container {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.info-icon {
	width: 1.7rem;
}

.password-requirements-container {
	display: flex;
	position: relative;
}

.password-requirements-container.show-requirements::before {
	content: "Password must include: \A . One uppercase letter \A . One lowercase letter \A . More than 8 characters \A . At least one special character";
	white-space: pre-wrap;
	line-height: 1.2;
	font-size: 1.6rem;
	padding: 1rem;
	height: 11rem;
	width: 18rem;
	color: rgb(231, 16, 16);
	background-color: #ffbfb3;
	position: absolute;
	right: 0;
	transform: translate(45%, -110%);
	z-index: 5;
	border-radius: 4px;
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
		0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.message-container {
	position: relative;
	width: 60vw;
}

.messages-container {
	width: 60vw;
	text-align: center;
}

.success-message {
	text-align: center;
}

.err-message {
	color: red;
	text-align: center;
}

.mb-helper {
	margin-bottom: 1rem;
}
