.form-page label {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.form-page input {
	padding: 1rem 2rem;
	border-radius: 3px;
	border: 1px solid #174644;
}

.form-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	width: 24rem;
}

.input-icon {
	width: 2rem;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}

.submit-btn {
	margin-top: 3rem;
	font-size: 2.5rem;
	background-color: transparent;
	border: none;
	background-color: #ffcea7;
	border-radius: 4px;
	padding: 0.5rem 2rem;
	width: 100%;
	margin-bottom: 1.5rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.input-container {
	position: relative;
}

.mb-helper {
	margin-bottom: 1.5rem;
}
