.custom-food {
	top: 20%;
	padding: 4rem 4rem 2rem;
	background-color: #e6f0f1;
}

.custom-food label {
	font-size: 1.8rem;
	font-weight: bold;
}

.custom-food button {
	font-size: 2rem;
	background-color: #ffb2a4 !important;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

	width: 100%;
}

.name-container {
	margin-bottom: 1rem;
}

.custom-food label {
	margin-bottom: 0.5rem;
}

.custom-food input {
	border: 2px solid #989bc2;
	width: 10rem;
}

.edit-page-container {
	padding: 4rem 0;
}

.fb-helper {
	display: flex;
	flex-direction: column;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.custom-input {
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 760px) {
	.custom-food {
		padding: 8rem 10rem;
	}

	.custom-food label {
		font-size: 4rem;
	}

	.custom-food button {
		font-size: 4rem;

		padding: 1rem;
	}

	.custom-food input {
		width: 20rem;
		font-size: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.custom-food {
		transform: translate(-50%, -10%) scale(0.8);
		width: 50%;
	}
}
