.edit-page {
	position: relative;
}

.custom-food {
	transform: translate(-50%, 20%);
}

/* .box {
	position: absolute;
	display: inline-block;
	background-color: red;
	padding: 4rem;
	z-index: 7;
	top: 0;
} */
