nav {
	display: flex;
	justify-content: space-between;
	padding: 0.3rem 0.5rem;
	align-items: center;
	background-color: #33888d;
	margin-bottom: 2rem;
}

.navbar ul {
	margin-top: 40px;
	margin-left: 30px;
	display: none;
}

.nav {
	position: absolute;
	right: 0;
	background-color: #33888d;
	top: 0;
	height: 100%;
	width: 0px;
	z-index: 3;
	transition: all 0.5s ease-in;
}

.icon {
	height: 30px;
}

div.nav.show {
	width: 200px;
}

div.nav.show ul {
	display: block;
}

.close-icon {
	position: relative;
	z-index: 4;
}

.list-item {
	display: inline-block;
	font-size: 2.3rem;
	color: #221232;
	font-weight: bold;
	margin-bottom: 2.3rem;
}

.logout-btn {
	background-color: transparent;
	border: none;
}

/* styles for tablet */

@media screen and (min-width: 760px) {
	nav {
		padding: 2rem;
	}

	.buttons {
		display: none;
	}

	.nav {
		width: fit-content;
		background-color: transparent;
		position: relative;
	}

	.navbar ul {
		display: flex;
		margin-top: 0;
		margin-left: 0;
		gap: 2.5rem;
	}

	.list-item {
		margin-bottom: 0;
		font-size: 3.5rem;
	}
}

@media screen and (min-width: 1100px) {
	nav {
		padding: 1.5rem;
	}

	.list-item {
		font-size: 2.5rem;
	}

	.navbar ul {
		padding-right: 2rem;
	}
}
