nav {
	display: flex;
	justify-content: space-between;
	padding: 0.3rem 0.5rem;
	align-items: center;
	background-color: #cacfe2;
	margin-bottom: 2rem;
}

.icon {
	height: 30px;
}

.show {
	display: block;
}

.buttons {
	position: relative;
	z-index: 4;
}

.list-item {
	display: inline-block;
	font-size: 2rem;
	color: #363e35;
	font-weight: bold;
	margin-bottom: 2rem;
}

.logout-btn {
	background-color: transparent;
	border: none;
}
