.edit-form {
	display: flex;
	flex-direction: column;
}

/* .edit-form input {
	margin-bottom: 1rem;
} */

.edit-name {
	top: 35%;
}

.edit-dimensions {
	top: 15%;
}

.edit-password {
	top: 30%;
}

.edit-email {
	top: 35%;
}

.edit-form label {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #00555a;
}

.edit-page button.edit-btn {
	font-size: 2rem;
	background-color: #ffb2a4 !important;
	/* padding: 0.5rem; */
	border: none;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box {
	width: 80vw;
	border-radius: 8px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	padding: 3rem 2rem;
	z-index: 5;
	background-color: #e6f0f1;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activity-level {
	align-items: flex-end;
}

.edit-page select {
	text-transform: capitalize;
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 5px;
}

.gender {
	font-weight: normal !important;
}

.gender-container {
	/* display: flex;
	align-items: center;
	gap: 1rem; */
}

.edit-dimensions .label-helper {
	font-weight: normal;
	font-size: 1.7rem;
	margin-right: 1rem;
}

.edit-dimensions button {
	width: 100%;
}

.padding-helper {
	padding: 0.5rem;
}

.close-btn {
	width: 3rem;
	position: absolute;
	top: 10px;
	right: 15px;
	border: none;
	background-color: transparent;
}

.edit-err-message {
	color: red;
	margin-bottom: 1rem;
	align-self: center;
	width: 100%;
	text-align: center;
}

div label.password-container {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.mb-input {
	margin-bottom: 1.5rem !important;
}

.submit-edit {
	padding: 0.8rem !important;
}
