.carousel-items {
	display: flex;
	flex-direction: column;
}

.carousel-items h1 {
	text-align: center;
}

.carousel-items img {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.inner-container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.progress-container {
	padding: 2rem 0 3rem;
}

.progress-container h2 {
	color: #438686;
}

.progress-bars {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	padding: 0 8rem;
}

.progress-bar {
	width: 70vw;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.471) 0px 7px 29px 0px;
}

.progress-bar h2 {
	font-size: 2.3rem;
	margin-bottom: 2rem;
}

.progress-bar p {
	margin-top: 2rem;
	font-size: 1.7rem;
}

.pb-container {
	position: relative;
	border-radius: 50%;
}

progress {
	width: 100%;
	background-color: transparent;
}
progress::-webkit-progress-bar {
	background-color: #f4f0ef;
	position: relative;
	border-radius: 40px;
	overflow: hidden;
	padding: 1.5rem;
}
progress::-webkit-progress-value {
	background-color: #fe8b7c;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border: 50%;
}

.total-logged {
	font-weight: bold;
	color: #39aea8;
}

.user-home-hero {
	width: 30rem;
}

@media screen and (min-width: 760px) {
	.progress-bar h2 {
		font-size: 3.5rem;
	}

	progress::-webkit-progress-bar {
		padding: 2.5rem;
	}

	.progress-bar p {
		font-size: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.progress-bar h2 {
		font-size: 3rem;
	}

	.progress-bars {
		align-items: center;
		justify-content: center;
		margin-top: 10rem;
	}

	.progress-bar {
		width: 45vw;
		padding: 1rem;
	}

	progress::-webkit-progress-bar {
		padding: 2rem;
	}

	.inner-container {
		flex-direction: row;
	}

	.progress-bar p {
		font-size: 2.5rem;
	}
}
