* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	/* background-color: #2c374f */
}

body {
	font-family: sans-serif;
}

.body {
	min-height: 100vh;
	position: relative;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

h1,
h2,
h3 {
	color: #174644;
	margin-bottom: 1rem;
}

.dark::before {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.592);
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
}

.home {
	height: 200vh;
}

label {
	display: block;
}
